.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.calendar {
  width: 90%;
}

footer {
  margin-top: auto;
  padding: 10px;
  font-size: small;
}
