.theme-editor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}

.theme-editor .form-field {
    display: flex;
    width: 100%;
    flex-direction: row;
    margin-bottom: 20px;
} 

.theme-editor .form-field label {
    margin-right: 10px;
    text-align: left;
}